.resources {
  box-sizing: border-box;
  width: 50%;
  height: 100%;

  padding: 6rem;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  letter-spacing: 0.2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  overflow: auto;
  color: #9ec8b9;
  transition: all 1s ease;
}

.hide-resources {
  width: 0;
  padding-inline: 0;
  color: #1b4242;
}

.indent {
  padding-left: 2rem;
}
