.terminal {
  box-sizing: border-box;
  width: 50%;
  height: 100%;

  padding: 6rem;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  letter-spacing: 0.2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-padding: 4rem;

  color: #9ec8b9;
  background-color: #092635;
  border: none;
  flex-grow: 1;
}

.terminal::-webkit-scrollbar {
  display: none;
}

.indent {
  padding-left: 2rem;
}
